.customNavbarAdmin{
    background-color: black;
    color: white;
    width: 300px;
    .navbar-brand{
        color: white !important;
        display: flex;
        align-items: center;
        img{
            width: 100px;
            border-radius: 100px;
        }
        p{
            margin-top: 10px;
            margin-left: 30px;
        }
    }
    .customNavLink{
        width: 275px;
        .customManageAdmin{
            h5{
                color: white;
                text-align: center;
                margin-bottom: 30px;
            }
            .nav-link{
                margin: 10px;
                color: white;
                border-radius: 10px;
            }
            .nav-link:hover{
                background-color: #2b2b2b;
            }
        }
        .customLogout{
            text-align: center;
            .nav-link{
                color: white;
                border-radius: 10px;
            }
            .nav-link:hover{
                background-color: #2b2b2b;
            }
        }
    }
}
.offcanvas{
    .offcanvas-header.adminHeader{
        background-color: black;
        color: white;
        .offcanvas-title{
            display: flex;
            align-items: center;
            img{
                width: 100px;
                border-radius: 100px;
            }
            p{
                margin-top: 10px;
                margin-left: 30px;
            }
        }
    }
    .offcanvas-body.adminBody{
        background-color: black;
        color: white;
        .customManageAdmin{
            h5{
                color: white;
                text-align: center;
                margin-bottom: 30px;
            }
            .nav-link{
                margin: 10px;
                color: white;
                border-radius: 10px;
            }
            .nav-link:hover{
                background-color: #2b2b2b;
            }
        }
        .customLogout{
            text-align: center;
            .nav-link{
                color: white;
                border-radius: 10px;
            }
            .nav-link:hover{
                background-color: #2b2b2b;
            }
        }
    }
}
@media screen and (max-width:1200px) {
    .customNavbarAdmin{
        width: 100%;
        height: 60px;
        .navbar-toggler {
            z-index: 999;
            background-color: white;
            .navbar-toggler-icon {
                background-color: white;
            }
        }
        .navbar-collapse{
            display: none;
        }
        .navbar-brand{
            display: none;
        }
    }
}
