.customSelect{
    margin-top:50px;
}
.customShow{
    margin: 50px 0px 50px 0px;
    .customCard{
        margin-bottom: 30px;
            .card{
                height: 100%;
                .custom-card-img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 100%;
                        height: 260px;
                    }
                }
                .brand,.price,.stock-status{
                    text-align: center;
                }
                .card-text{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100px;
                    text-align: center;
                }
            }
    }
    .customBtn{
        display: flex;
        justify-content: center;
        .btn{
            margin: .5rem;
        }
    }
    .no-results{
        text-align: center;
        font-size: 1.5rem;
    }
}